body{
  font-family: 'Source Sans Pro', sans-serif;
}

.new-pizza{
  display: block;
  padding: 40;
  float: left;
  width: 500px;
}

.pizza-order{
  margin-left: 500px;
  display: block;
  padding: 40;
}

#pizza-gif{
  float: right;
}
